* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "league spartan", sans-serif;
    background: #fff;
    color: #502050;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 100px 20px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.intro {
    display: flex;
}

.intro-text {
    margin-bottom: 75px;
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.intro-text h2 {
    width: 200px;
    font-weight: 1000;
    padding-bottom: 20px;
}

.intro-text small {
    color: #927b91;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    width: 200%;


}



.ratings {
    width: 540px;
    margin-left: 300px;
    margin-top: 20px ;

}

.rating {
    width: 445px;
    height: 55px;
    background: #f7f2f7;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 30px;

    padding: 0 30px;
    margin-bottom: 15px;

}

.rating-two {
    margin-left: 48px;
}

.rating-three {
    margin-left: 96px;
}

.stars {
    color: #efb15c;
    font-size: 20px;
    letter-spacing: 4px;
}

.strong {
    font-size: 16px;
    color: #502050;
}


.testimonials{
display: flex ;
gap: 30px ;
align-items: flex-start;
}

.card{
width: 350px ;
min-height: 235px ;
background: #502050;
border-radius: 8px ;
padding: 40px 32px ;
color: white;
}

.card-two{
margin-top: 16px ;
}

.card-three{
margin-top: 32px;
}



.user img{
width: 45px ;
height: 45px ;
border-radius: 50%;
}

.user h3{
font-size: 1rem;
font-weight: 700;
}

.user{
display: flex;
align-items: center;
gap:20px;
margin-bottom: 25px ;
}

.user span{
color: palevioletred;
font-size: 0.95rem;
}
